[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whitenoise = "*"
djangorestframework = "*"
gunicorn = "*"
django-heroku = "*"
python-decouple = "*"
psycopg2-binary = "*"
django = "*"
django-cors-headers = "*"
pillow = "*"
requests = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
django-notifications-hq = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
